rect.bordered {
    stroke: #E6E6E6;
    stroke-width:0px;
}

text.mono {
    font-size: 11pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-hair {
    fill: #000;
}

text.axis-eye {
    fill: #000;
}